{{ count() }}


<button (click)="inc()">+</button>
<p>Count: {{ count() }}</p>
<p>Double: {{ doubleCount() }}</p>

<ul>
  @for (c of customers; track c.id) {
    <li> {{ c.firstName }} {{ c.lastName }}</li>
  }
</ul>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input formControlName="email"/>
  @if (form.get('email')?.errors?.['required']) {
    <small class="text-danger">
      Email is required
    </small>

  }
  <button type="submit" [disabled]="form.invalid"> valider</button>
</form>
@defer (on viewport) {
  <app-passe [devise]="doubleCount()" (clicked)="traiterExit($event)"></app-passe>
} @placeholder {
  <div class="skeleton">Chargement en cours...</div>
} @loading (after 100ms; minimum 500ms) {
  <p>Récupération du composant lourd...</p>
} @error {
  <p>Erreur lors du chargement du composant.</p>
}

<router-outlet/>
