/* You can add global styles to this file, and also import other style files */
/* Uniquement ce qui existe physiquement dans les dossiers */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  font-family: var(--font-family);
}
