<p>passe works!</p>
shnia jaw frere
{{ devise() | currency }}

<button (click)="send()"> SEND </button>


<div style="padding: 20px;">
  <h1>Bienvenue sur Customer App</h1>
  <input type="text" pInputText placeholder="Votre nom" />
  <p-button label="Valider" icon="pi pi-check"></p-button>
  <p-button label="Ça marche !" icon="pi pi-check"></p-button>

  <div class="card flex justify-center">
    <p-button label="Submit" />
  </div>
</div>


<!--
<div class="gallery">

  @for (item of photos; track item.id) {
    <div class="card">
      <h3>{{ item.title }}</h3>
      <img [src]="item.thumbnailUrl" [alt]="item.title">
      <p>ID: {{ item.id }}</p>
    </div>
  }

</div>-->



